<div [class]="getClassBg()">
  <div class="flag__container-top">
    <div class="flag__title">
      <img class="flag__ic-img" [src]="getClassIcon()" alt="" />
      <p [class]="getClassTitle()">Flag's Title</p>
      <a class="flag__frame__ic-exit flag__ic-exit" href="">
        <img
          class=""
          src="./../../../assets/icon/info/ic-exit-small.svg"
          alt=""
        />
      </a>
    </div>
  </div>
  <div class="flag__container-down">
    <p [class]="getClassDesc()">
      Additional information that will help users understand the flag
    </p>
    <div class="flag__button-list">
      <app-button
        [color]="colorBtn.SUBTLE"
        [spacing]="spacingBtn.COMPACT"
        (onClick)="goToGoogle()"
        >No thanks</app-button
      >
      <app-button
        [color]="ChangeColorBtn()"
        [spacing]="spacingBtn.COMPACT"
        (onClick)="goToGoogle()"
        >{{ ChangeTextBtn() }}</app-button
      >
    </div>
  </div>
</div>
