<div [class]="getClassBg()">
  <div class="flag__container-top">
    <div class="flag__title">
      <img class="flag__ic-img" [src]="getClassIcon()" alt="" />
      <p [class]="getClassTitle()">{{ title }}</p>
      <a class="flag__frame__ic-exit flag__ic-exit" href="">
        <img
          class=""
          src="./../../../assets/icon/info/ic-exit-small.svg"
          alt=""
        />
      </a>
    </div>
  </div>
  <div class="flag__container-down">
    <p [class]="getClassDesc()">{{ description }}</p>
    <div *ngIf="HiddenButtonList()" class="flag__button-list">
      <app-button
        *ngFor="let btnSetting of btnSettings"
        [color]="btnSetting.color"
        [spacing]="btnSetting.compact"
        (onClick)="goToGoogle()"
        >{{ btnSetting.title }}</app-button
      >
    </div>
  </div>
</div>
