<div class="template">
  <div class="content">
    <div class="temp__icon">
      <img class="temp__icon" src="./../assets/Stickersheet.svg" alt="" />
    </div>
    <div class="temp__descs">
      <p class="temp__title-text">Banner</p>
      <p class="temp__desc">
        Common component examples ready to be copy and pasted into your designs
      </p>
    </div>
  </div>
  <div class="temp__items">
    <div class="temp__container">
      <div class="temp__tabel">
        <table>
          <thead>
            <tr>
              <th style="width: 1fr; color: red">Component</th>
              <th style="width: 1fr"></th>
              <th style="width: 3fr; color: red">View</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th style="width: 1fr">Label Status</th>
              <th style="width: 1fr"></th>
              <th style="width: 3fr">
                <status-table [color]="ColorStatus.DEFAULT"
                  >Labell</status-table
                >
              </th>
            </tr>
            <tr>
              <th style="width: 1fr">Button</th>
              <th style="width: 1fr"></th>
              <th style="width: 3fr">
                <app-button
                  [color]="colorBtn.PRIMARY"
                  [spacing]="spacingBtn.DEFAULT"
                  (onClick)="goToGoogle()"
                  >Go To Google</app-button
                >
              </th>
            </tr>
            <tr>
              <th style="width: 1fr">Label Priority</th>
              <th style="width: 1fr"></th>
              <th style="width: 3fr">
                <label-priority [circle]="cirleLabel.DEFAULT"
                  >Labell</label-priority
                >
              </th>
            </tr>
            <tr>
              <th style="width: 1fr">Breadcrumbs</th>
              <th style="width: 1fr"></th>
              <th style="width: 3fr"></th>
            </tr>
            <tr>
              <th style="width: 1fr">OnBoarding Modal</th>
              <th style="width: 1fr"></th>
              <th style="width: 3fr">
                <onboarding-modal></onboarding-modal>
              </th>
            </tr>
            <tr>
              <th style="width: 1fr">Empty State</th>
              <th style="width: 1fr"></th>
              <th style="width: 3fr"><empty-state></empty-state></th>
            </tr>
            <tr>
              <th style="width: 1fr">Banner</th>
              <th style="width: 1fr"></th>
              <th style="width: 3fr">
                <!-- <banner [mode]="modeBanner.WARNING" [btnText]="test"></banner> -->
                <banner [mode]="modeBanner.WARNING">Button</banner>
              </th>
            </tr>
            <tr>
              <th style="width: 1fr">Flag</th>
              <th style="width: 1fr"></th>
              <th style="width: 3fr">
                <flag
                  [color]="colorFlag.DEFAULT"
                  [icon]="iconFlag.IMAGE"
                ></flag>
              </th>
            </tr>
            <tr>
              <th style="width: 1fr">Flag Description</th>
              <th style="width: 1fr"></th>
              <th style="width: 3fr">
                <flag-desc
                  [color]="colorFlag.DEFAULT"
                  [icon]="iconFlag.IMAGE"
                ></flag-desc>
              </th>
            </tr>
            <tr>
              <th style="width: 1fr">Flag Long</th>
              <th style="width: 1fr"></th>
              <th style="width: 3fr">
                <flag-long></flag-long>
              </th>
            </tr>
            <tr>
              <th style="width: 1fr">Inline Helper</th>
              <th style="width: 1fr"></th>
              <th style="width: 3fr">
                <inline-helper></inline-helper>
              </th>
            </tr>
            <tr>
              <th style="width: 1fr">Progress Bar</th>
              <th style="width: 1fr"></th>
              <th style="width: 3fr">
                <progress-bar></progress-bar>
              </th>
            </tr>
            <tr>
              <th style="width: 1fr">Progress Traker</th>
              <th style="width: 1fr"></th>
              <th style="width: 3fr">
                <progress-traker></progress-traker>
              </th>
            </tr>
            <tr>
              <th style="width: 1fr">Progress Indicator</th>
              <th style="width: 1fr"></th>
              <th style="width: 3fr">
                <progress-indicator></progress-indicator>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- <list-breadcrumbs></list-breadcrumbs> -->
