<div [class]="getClassBg()">
  <div class="banner__item">
    <div class="frame">
      <img [src]="getSRC()" alt="" [hidden]="iconBanner()" />
      <div [class]="getClassText()">
        <p class="banner__text">
          https://www.figma.com/file/NT3D9te85pcox2j0MXvbR7igma.com/file/https://www.figma.com/file/NT3D9te85pcox2j0MXvbR7igma.com/file/
        </p>
      </div>
    </div>

    <app-button
      [color]="colorBtn.DEFAULT"
      [spacing]="spacingBtn.DEFAULT"
      (onClick)="goToGoogle()"
      >Go To Google</app-button
    >
  </div>
  <img src="./../../../assets/icon/info/ic-exit.svg" alt="" />
</div>
