<div class="indicator__list">
  <div class="indicator__container">
    <div class="indicator__container-top">
      <div class="items__titles">
        <div class="items__left items__left-default">
          <p class="items__ic-number">1</p>
        </div>
        <div class="items__right">
          <div class="item__title">Title</div>
          <div class="item__desc">Description</div>
        </div>
      </div>
    </div>
    <div class="indicator__container-down">
      <div class="indicator__container-down-left">
        <div class="divider">
          <div class="divider-line"></div>
        </div>
      </div>
      <div class="indicator__container-down-right">
        <div class="indicator__content"></div>
        <div class="indicator__content"></div>
      </div>
    </div>
  </div>
  <div class="indicator__container">
    <div class="indicator__container-top">
      <div class="items__titles">
        <div class="items__left items__left-default">
          <p class="items__ic-number">1</p>
        </div>
        <div class="items__right">
          <div class="item__title">Title</div>
          <div class="item__desc">Description</div>
        </div>
      </div>
    </div>
    <div class="indicator__container-down">
      <div class="indicator__container-down-left">
        <div class="divider">
          <div class="divider-line"></div>
        </div>
      </div>
      <div class="indicator__container-down-right">
        <div class="indicator__content"></div>
        <div class="indicator__content"></div>
      </div>
    </div>
  </div>
  <div class="indicator__container">
    <div class="indicator__container-top">
      <div class="items__titles">
        <div class="items__left items__left-default">
          <p class="items__ic-number">1</p>
        </div>
        <div class="items__right">
          <div class="item__title">Title</div>
          <div class="item__desc">Description</div>
        </div>
      </div>
    </div>
    <div class="indicator__container-down">
      <div class="indicator__container-down-left">
        <div class="divider">
          <div class="divider-line"></div>
        </div>
      </div>
      <div class="indicator__container-down-right">
        <div class="indicator__content"></div>
        <div class="indicator__content"></div>
        <div class="indicator__content"></div>
        <div class="indicator__content"></div>
      </div>
    </div>
  </div>
  <div class="indicator__container">
    <div class="indicator__container-top">
      <div class="items__titles">
        <div class="items__left items__left-default">
          <p class="items__ic-number">1</p>
        </div>
        <div class="items__right">
          <div class="item__title">Title</div>
          <div class="item__desc">Description</div>
        </div>
      </div>
    </div>
    <div class="indicator__container-down">
      <div class="indicator__container-down-left">
        <div class="divider">
          <div class="divider-line"></div>
        </div>
      </div>
      <div class="indicator__container-down-right">
        <div class="indicator__content"></div>
        <div class="indicator__content"></div>
      </div>
    </div>
  </div>
  <div class="indicator__btns">
    <app-button
      [color]="colorBtn.SUBTLE"
      [spacing]="spacingBtn.COMPACT"
      (onClick)="goToGoogle()"
      >Batal</app-button
    >
    <app-button
      [color]="colorBtn.PRIMARY"
      [spacing]="spacingBtn.DEFAULT"
      (onClick)="goToGoogle()"
      >Simpan</app-button
    >
  </div>
</div>
