@import "../../../assets/assets-color/color.scss";
@import "../../../assets/assets-color/font.scss";

p {
  margin: 0;
}

.lozenge-o {
  display: inline-flex;
  padding: 2px 8px;
  align-items: flex-start;
  gap: 4px;
  color: var(--text-default, #1f2e34);
  text-align: center;

  /* Sub title */
  @include sub-title;
}
.loz-ic {
  display: flex;
  width: 16px;
  height: 16px;
}
